In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df= pd.read_csv('fake_reg.csv')
df.head()

        price     feature1     feature2
0  461.527929   999.787558   999.766096
1  548.130011   998.861615  1001.042403
2  410.297162  1000.070267   998.844015
3  540.382220   999.952251  1000.440940
4  546.024553  1000.446011  1000.338531

In [8]:
sns.pairplot(df)

In [50]:
from sklearn.model_selection import train_test_split

X= df[['feature1','feature2' ]].values
y=df['price'].values

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [52]:
from sklearn.preprocessing import MinMaxScaler

scaler= MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler()

In [53]:
X_train= scaler.transform(X_train)

In [54]:
X_test= scaler.transform(X_test)

In [57]:
X_train

array([[0.63867458, 0.56815828],
       [0.51599219, 0.59777078],
       [0.48769946, 0.52509843],
       ...,
       [0.59321626, 0.33345467],
       [0.48417435, 0.34985991],
       [0.46580156, 0.52801288]])